
div#app {
    padding: 30px;
    margin: 30px auto;
    width: 400px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #aaa;
}

div#app div {
    margin-bottom: 20px;
}

label {
    display: block;
}

input[type=text] {
    padding: 4px;
}
